In [1]:
import pandas as pd

In [37]:
df = pd.read_csv('pokemon.csv')
df = df.iloc[:, :24]
df = df.drop(columns=['german_name', 'japanese_name', 'type_number', 'type_2'])
df = df.rename(columns={'Unnamed: 0': 'csv_index'})
df = df.set_index('csv_index')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1045 entries, 0 to 1044
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1045 non-null   int64
 1   name              1045 non-null   object
 2   generation        1045 non-null   int64
 3   status            1045 non-null   object
 4   species           1045 non-null   object
 5   type_1            1045 non-null   object
 6   height_m          1045 non-null   float64
 7   weight_kg         1044 non-null   float64
 8   abilities_number  1045 non-null   int64
 9   ability_1         1042 non-null   object
 10  ability_2         516 non-null    object
 11  ability_hidden    813 non-null    object
 12  total_points      1045 non-null   int64
 13  hp                1045 non-null   int64
 14  attack            1045 non-null   int64
 15  defense           1045 non-null   int64
 16  sp_attack         1045 non-null   int64
 17  sp_defense        1045 non-null   int64
 18  speed             1045 non-null   int64
dtypes: float64(2), int64(10), object(7)
memory usage: 163.3+ KB

In [58]:
df['dup_count'] = df.groupby('pokedex_number').cumcount()

df['new_pokedex'] = df.apply(
    lambda row: f"{str(row['pokedex_number']).zfill(3)}_f{row['dup_count']+1}" if row['dup_count'] > 0 else str(row['pokedex_number']).zfill(3),
    axis=1
)

df['Pokemon'] = df.apply(lambda row: f"{row['pokedex_number']:03d} - {row['name']}", axis=1)


df[['pokedex_number', 'name', 'dup_count', 'new_pokedex', 'Pokemon']]

,pokedex_number,name,dup_count,new_pokedex,Pokemon
csv_index,,,,,
0,1,Bulbasaur,0,001,001 - Bulbasaur
1,2,Ivysaur,0,002,002 - Ivysaur
2,3,Venusaur,0,003,003 - Venusaur
3,3,Mega Venusaur,1,003_f2,003 - Mega Venusaur
4,4,Charmander,0,004,004 - Charmander
...,...,...,...,...,...
1040,896,Glastrier,0,896,896 - Glastrier
1041,897,Spectrier,0,897,897 - Spectrier
1042,898,Calyrex,0,898,898 - Calyrex
1043,898,Calyrex Ice Rider,1,898_f2,898 - Calyrex Ice Rider
1044,898,Calyrex Shadow Rider,2,898_f3,898 - Calyrex Shadow Rider

In [ ]:
link = f"https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/{index_str}.png"
test = "https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/898_f3.png"